.popular {
  overflow: hidden;
  min-height: 720px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular h2 {
  font-size: 60px;
  line-height: 130px;
  font-weight: 600;
  font-family: var(--playfair-display);
}

.popular__list {
  display: flex;
  margin-top: 40px;
  gap: 30px;
}

.popular__filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;

  background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 46px;

  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  cursor: pointer;
}

.popular__filter-btn > img {
  height: 36px;
  width: 36px;
  object-fit: contain;
}

.popular__filter-btn:hover,
.popular__filter-btn.active {
  background-color: #fff;
  color: var(--primary-color);
}

.popular__catalogue {
  margin-top: 64px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 56px;
}

.popular__card {
  padding: 38px;
  min-width: 260px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 36px;
}

.popular__card > img {
  width: 110px;
  height: 84px;
  object-fit: contain;
}

.popular__card.active-card {
  background-color: #fff;
  min-width: 340px;
  color: var(--primary-color);
}

.popular__card.active-card > img {
  width: 214px;
  height: 160px;
}

.popular__card h4 {
  margin-top: 47px;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  font-family: var(--playfair-display);
  text-align: center;
}

.popular__card-detail {
  display: flex;
  width: 100%;
  margin-top: 32px;
  justify-content: space-between;
}

.popular__card-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.popular__card-rating img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.popular__card-rating p {
  font-size: 20px;
  font-weight: 300;
  font-family: var(--plus-jakarta-sans);
}

.popular__card-price {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
}

.popular__card.active-card .popular__card-rating img {
  width: 32px;
  height: 32px;
}

.popular__card.active-card .popular__card-rating p {
  font-size: 24px;
  color: var(--gray-100);
}

.popular__card.active-card .popular__card-price {
  font-size: 24px;
  color: var(--secondary-color);
}

.popular__card.active-card h4 {
  color: var(--black-500);
  font-size: 32px;
}

.popular__button {
  width: fit-content;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 20px 30px;
  border-radius: 36px;

  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: white;
  cursor: pointer;

  border: none;
  outline: none;
}

.popular__button img {
  width: 14px;
  height: 14px;
  object-fit: contain;
  margin-left: 21px;
}
