.subscription {
  overflow: hidden;
  background-color: var(--primary-color);
  background-image: url("../../assets/subscribe_bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription__title {
  font-size: 80px;
  line-height: 120px;
  font-weight: 600;
  font-family: var(--playfair-display);
  text-align: center;
  color: #fff;
}

.subscription__description {
  margin: 50px 0px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  line-height: 23px;
  color: #fff;
}

.subscription__input {
  padding: 10px 10px;
  border: 1px solid #fff;
  border-radius: 60px;
}

.subscription__input input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  margin-left: 10px;
  min-width: 300px;

  font-size: 18px;
  line-height: 23px;
}

.subscription__input input::placeholder {
  color: var(--color-white);
  opacity: 0.5;
}

.subscription__input-btn {
  min-width: 180px;
  padding: 15px 40px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 36px;
  outline: none;
  border: none;
  cursor: pointer;

  font-size: 18px;
  font-weight: 500;
}
